.row-password{
    display: flex;
    align-items: center;
    gap: 5px;
    border: .5px solid gray;
    width: max-content;
    height: max-content;
    padding: 5px;
    border-radius: 2px;
}
.formContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
button{
    width: max-content;
    height: max-content;
    padding: 15px 20px 15px 20px;
    background-color: cornflowerblue;
    border: none;
    border-radius: 5px;
    color: white;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
    border: 1px solid black;
  }
 p{
    color: red;
  }
  th{
    color: rgb(76, 133, 239);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  td{
    text-align: center;
  }
  #eye{
    width: 20px;
  }
  #password{
    border: none;
    outline: none;
  }
  #email{
    width: 195px;
    height: 25px;
  }
  #fullname{
    width: 195px;
    height: 25px;
  }